/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

/* Botones reutilizables */
.btn-primary, .btn-cta {
  background-color: #3fbd34;
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  margin-top: 1rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #e60023;
  text-align: center;
}
hero-text h3{
  color: #e60023;
}

/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3fbd34;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* Hero */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 3rem 2rem;
  background-color: #f8f8f8;
  gap: 2rem;
}

.hero-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text h2 {
  font-size: 2.5rem;
  color: #111;
}


.hero-img img {
  width: 100%;
  ;
  max-width: 400px;
}

/* Agenda */
.agenda-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.dia {
  background-color: #2dbab6;
  color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

/* Speakers */
.speakers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.speakers-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.speaker {
  background: #f3f3f3;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

.speaker img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Formulario */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.form-grid input,
.form-grid select,
.form-grid button {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.form-grid button {
  grid-column: span 2;
  background-color: #b718b2;
  color: white;
  border: none;
  cursor: pointer;
}

/* Footer */
footer {
  margin: 1px black;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 1rem;
  box-shadow: 10px 10px 10px rgb(150, 143, 143);
}
